.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  padding: 1rem;
  width: 200px;
  height: 250px;
  margin: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgb(189, 140, 15);
  border-radius: 20px;
  transition: transform 0.3s;
}

.cardWrapper:hover {
  transform: translateY(-5px);
}

.flag {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}

.link {
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
}

.link:hover {
  color: blue;
}

.continent {
  margin-top: auto;
}
