.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 20px;
}
.formWrapper {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.subtitle {
  margin-top: 10px;
}

.form input,
.form select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form p {
  color: red;
  font-size: 0.875rem;
}

.form button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.form button[type='submit'] {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form button[type='submit']:hover {
  background-color: #27ae60;
}

.buttonContainer {
  display: flex;
  gap: 3px;
}

.label {
  align-self: flex-start;
}
